@font-face {
	font-family: 'iconfont';
	src:url('fonts/iconfont.eot?-ouq9q7');
	src:url('fonts/iconfont.eot?#iefix-ouq9q7') format('embedded-opentype'),
		url('fonts/iconfont.woff?-ouq9q7') format('woff'),
		url('fonts/iconfont.ttf?-ouq9q7') format('truetype'),
		url('fonts/iconfont.svg?-ouq9q7#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ii-"], [class*=" ii-"] {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ii-big_face:before {
	content: "\e601";
}
.ii-knowit_faces_1:before {
	color: #5183C2;
	content: "\e602";
}
.ii-knowit_faces_2:before {
	color: #844A93;
	content: "\e603";
}
.ii-knowit_faces_3:before {
	color: #E7B645;
	content: "\e604";
}
.ii-knowit_faces_4:before {
	color: #8DB037;
	content: "\e605";
}
.ii-pencil:before {
	content: "\e905";
}
.ii-image:before {
	content: "\e90d";
}
.ii-headphones:before {
	content: "\e910";
}
.ii-book:before {
	content: "\e91f";
}
.ii-books:before {
	content: "\e920";
}
.ii-file-text:before {
	content: "\e922";
}
.ii-file-empty:before {
	content: "\e924";
}
.ii-file-text2:before {
	content: "\e926";
}
.ii-folder:before {
	content: "\e92f";
}
.ii-folder-open:before {
	content: "\e930";
}
.ii-price-tag:before {
	content: "\e935";
}
.ii-price-tags:before {
	content: "\e936";
}
.ii-coin-dollar:before {
	content: "\e93b";
}
.ii-coin-euro:before {
	content: "\e93c";
}
.ii-address-book:before {
	content: "\e944";
}
.ii-display:before {
	content: "\e956";
}
.ii-laptop:before {
	content: "\e957";
}
.ii-mobile:before {
	content: "\e958";
}
.ii-mobile2:before {
	content: "\e959";
}
.ii-user:before {
	content: "\e971";
}
.ii-users:before {
	content: "\e972";
}
.ii-user-plus:before {
	content: "\e973";
}
.ii-user-minus:before {
	content: "\e974";
}
.ii-user-check:before {
	content: "\e975";
}
.ii-spinner11:before {
	content: "\e984";
}
.ii-key:before {
	content: "\e98d";
}
.ii-key2:before {
	content: "\e98e";
}
.ii-lock:before {
	content: "\e98f";
}
.ii-unlocked:before {
	content: "\e990";
}
.ii-bug:before {
	content: "\e999";
}
.ii-pie-chart:before {
	content: "\e99a";
}
.ii-stats-dots:before {
	content: "\e99b";
}
.ii-stats-bars:before {
	content: "\e99c";
}
.ii-spoon-knife:before {
	content: "\e9a3";
}
.ii-hammer2:before {
	content: "\e9a8";
}
.ii-lab:before {
	content: "\e9aa";
}
.ii-bin:before {
	content: "\e9ac";
}
.ii-airplane:before {
	content: "\e9af";
}
.ii-switch:before {
	content: "\e9b6";
}
.ii-earth:before {
	content: "\e9ca";
}
.ii-attachment:before {
	content: "\e9cd";
}
.ii-eye:before {
	content: "\e9ce";
}
.ii-cancel-circle:before {
	content: "\ea0d";
}
.ii-enter:before {
	content: "\ea13";
}
.ii-exit:before {
	content: "\ea14";
}
.ii-circle-up:before {
	content: "\ea41";
}
.ii-circle-right:before {
	content: "\ea42";
}
.ii-circle-down:before {
	content: "\ea43";
}
.ii-circle-left:before {
	content: "\ea44";
}
.ii-embed:before {
	content: "\ea7f";
}
.ii-embed2:before {
	content: "\ea80";
}
.ii-terminal:before {
	content: "\ea81";
}
.ii-apple:before {
	content: "\eabf";
}
.ii-android:before {
	content: "\eac1";
}
.ii-file-pdf:before {
	content: "\eada";
}
.ii-file-excel:before {
	content: "\eadd";
}
.ii-store:before {
	content: "\e608";
}
.ii-zoomin:before {
	content: "\e609";
}
.ii-zoomout:before {
	content: "\e60a";
}
.ii-add:before {
	content: "\e60b";
}
.ii-subtract:before {
	content: "\e60c";
}
.ii-hyperlink:before {
	content: "\e60d";
}
.ii-download:before {
	content: "\e600";
}
.ii-chat:before {
	content: "\e60f";
}
.ii-users2:before {
	content: "\e610";
}
.ii-earth2:before {
	content: "\e611";
}
.ii-screen:before {
	content: "\e606";
}
.ii-help:before {
	content: "\e612";
}
.ii-pictures:before {
	content: "\e613";
}
.ii-link:before {
	content: "\e614";
}
.ii-trashcan:before {
	content: "\e615";
}
.ii-pencil4:before {
	content: "\e607";
}
.ii-info:before {
	content: "\e616";
}
.ii-clock:before {
	content: "\e617";
}
.ii-archive:before {
	content: "\e60e";
}
.ii-images:before {
	content: "\e618";
}
.ii-pencil2:before {
	content: "\e619";
}
.ii-paper-clip:before {
	content: "\e001";
}
.ii-monitor:before {
	content: "\e021";
}
.ii-server:before {
	content: "\e022";
}
.ii-cog:before {
	content: "\e023";
}
.ii-paper:before {
	content: "\e034";
}
.ii-zoom-in:before {
	content: "\e037";
}
.ii-zoom-out:before {
	content: "\e038";
}
.ii-reply:before {
	content: "\e039";
}
.ii-circle-plus:before {
	content: "\e040";
}
.ii-circle-minus:before {
	content: "\e041";
}
.ii-circle-check:before {
	content: "\e042";
}
.ii-circle-cross:before {
	content: "\e043";
}
.ii-thermometer:before {
	content: "\e062";
}
.ii-map:before {
	content: "\e072";
}
.ii-power:before {
	content: "\e086";
}
.ii-command:before {
	content: "\e087";
}
.ii-alt:before {
	content: "\e088";
}
.ii-arrow-left2:before {
	content: "\e094";
}
.ii-arrow-right:before {
	content: "\e095";
}
.ii-arrow-up:before {
	content: "\e096";
}
.ii-arrow-down:before {
	content: "\e097";
}
.ii-trash:before {
	content: "\e109";
}
.ii-plus:before {
	content: "\e114";
}
.ii-minus:before {
	content: "\e115";
}
.ii-check:before {
	content: "\e116";
}
.ii-cross:before {
	content: "\e117";
}
.ii-move:before {
	content: "\e118";
}
.ii-delete:before {
	content: "\e119";
}
.ii-settings:before {
	content: "\e61a";
}
.ii-news:before {
	content: "\e61b";
}
.ii-data:before {
	content: "\e61c";
}
.ii-clip:before {
	content: "\e61d";
}
.ii-calendar:before {
	content: "\e61e";
}
.ii-wallet:before {
	content: "\e61f";
}
.ii-directions:before {
	content: "\e620";
}
.ii-pencil3:before {
	content: "\e621";
}
.ii-paperclip:before {
	content: "\e622";
}
.ii-user2:before {
	content: "\e623";
}
.ii-users3:before {
	content: "\e624";
}
.ii-user-add:before {
	content: "\e625";
}
.ii-vcard:before {
	content: "\e626";
}
.ii-compass:before {
	content: "\e627";
}
.ii-bell:before {
	content: "\e628";
}
.ii-newspaper:before {
	content: "\e629";
}
.ii-code:before {
	content: "\e62b";
}
.ii-screen2:before {
	content: "\e62c";
}
.ii-statistics:before {
	content: "\e62d";
}
.ii-pie:before {
	content: "\e62e";
}
.ii-checkmark:before {
	content: "\e62a";
}
.ii-cross2:before {
	content: "\e62f";
}
.ii-minus2:before {
	content: "\e630";
}
.ii-plus2:before {
	content: "\e631";
}
.ii-erase:before {
	content: "\e632";
}
.ii-blocked:before {
	content: "\e633";
}
.ii-ccw:before {
	content: "\e634";
}
.ii-flow-tree:before {
	content: "\e635";
}
.ii-arrow-left:before {
	content: "\e636";
}
.ii-arrow-down2:before {
	content: "\e637";
}
.ii-arrow-up2:before {
	content: "\e638";
}
.ii-arrow-right2:before {
	content: "\e63d";
}
.ii-arrow-left4:before {
	content: "\e639";
}
.ii-arrow-down3:before {
	content: "\e63a";
}
.ii-arrow-up3:before {
	content: "\e63b";
}
.ii-uniE63C:before {
	content: "\e63c";
}
