html { font-size: 13px; }
body { font-family: 'Roboto Condensed', sans-serif; font-weight: 100; line-height: 1.5em; background: url("../img/bg_page.jpg") -80px 0; color: #666; }
h1, h2, h3, h4, h5 { margin: 0 0 .5em 0; color:#6a5399; font-family: 'Slabo 27px', serif; }
.app-version { position: fixed; bottom: 5px; right: 5px; }

a { cursor: pointer; color: #5777a0; }
a:hover, a.active { text-decoration: none; color: #d9851e; }

/* table */
thead { border: 1px solid #CFCFCF; color: #666 !important; }
thead tr { background-image: linear-gradient(0deg, #F1F1F1 0%, #FFFFFF 100%); height: auto !important; }
th, td{ font-size: 1rem !important; }

label{ vertical-align: middle !important; font-size: 1rem; }

/*----------------------------------------------- Foundation customize */
.row{ max-width: 95rem; padding: 0 10px; }
.container{margin: 0 -12px;}
.button{ margin: 0; padding: .5rem .8rem; font-family: 'Roboto Condensed', serif; font-size: 1rem; border-radius: 3px; background: linear-gradient(0deg, #4c73ad, #5183c2); }
.button:hover{ background: linear-gradient(0deg, #5180be, #568fd2); }
.button:active{ background: linear-gradient(0deg, #5183c2, #4c73ad); }
.button.small{ padding: .3rem .5rem; font-size: .95rem;}
.button.tiny{ padding: .3rem .6rem;}
.reveal-modal-bg { position: fixed; background: #000; opacity: .5; }
.reveal-modal { padding: 1rem; margin-top:0; margin-bottom: 1.5rem; outline: none; }
.has-tip { font-weight: normal; background: rgba(0,0,0,.2); }

.label{ vertical-align: middle; border-radius: 20px; background: #888888; }

.accordion .accordion-navigation > a, .accordion dd > a { color: #FFF; padding: 0 8px; font-family: 'Slabo 27px', serif; font-size: 1.1rem; line-height: 2.5rem; }
.accordion .accordion-navigation > .content, .accordion dd > .content { padding: 0; }
.accordion .accordion-navigation:last-child, .accordion dd:last-child{ margin-bottom: 5px !important; }

input[type=text], textarea, select { border-color: #018f85; font-size: 13px; color:#666; padding: 4px 5px; margin:0; border-radius: 3px; }
p{ margin-bottom: 8px; font-weight: 300; }

[class^="ii-"], [class*=" ii-"] { line-height: 1em; vertical-align: middle; }
.icon16{ font-size: 16px; }
.icon19{ font-size: 19px; }
.icon23{ font-size: 23px; }
.icon32{ font-size: 32px; }
.icon48{ font-size: 48px; }
.icon64{ font-size: 64px; }

.tooltip {  font-size: 13px !important; font-family: 'Roboto Condensed', sans-serif !important; }

#header { color: #FFF; background: #01B0A6; line-height: 30px; }
#header a { color: #FFF; padding: 0 8px; transition:all .2s; line-height: 30px; display: inline-block; }
#header a:hover { text-decoration: none; background: #01978d; }

/*----------------------------------------------- Home */
.logo { margin: 5px 0; }
.big-menu { text-align: center; margin: 0 20px; }
.big-menu a { font-family: 'Slabo 27px', serif; font-size: 20px; line-height: 35px; }
.big-menu a:hover, #home .big-menu a:focus { text-decoration: none; }
.big-menu a .arrow { padding-bottom: 20px; display: inline-block; }
.big-menu a.resumen { color: #5183c2; }
.big-menu a.administrador { color: #844a93; }
.big-menu a.reportes { color: #e7b645; }
.big-menu a.base-datos { color: #8db037; }

.small-menu { margin-bottom: 5px; }
.small-menu ul { list-style: none; margin: 0; padding: 0; }
.small-menu ul li { float: left; margin-right: 5px; }
.small-menu ul li a { font-size: 13px; display: block; line-height: 25px; color:#999; padding: 5px 7px 0 7px; border-radius: 0 0 4px 4px; transition:all .2s;}
.small-menu ul li a:hover {color: #FFF; }
.small-menu ul li a.active { margin-top: 5px; border-radius: 4px; color: #FFF; }

.small-menu .resumen a:hover, .small-menu .resumen a.active { background: #5183c2; }
.small-menu .administrador a:hover, .small-menu .administrador a.active { background: #844a93; }
.small-menu .reportes a:hover, .small-menu .reportes a.active { background: #e7b645; }
.small-menu .base-datos a:hover, .small-menu .base-datos a.active { background: #8db037; }
.small-menu .volver a:hover, .small-menu .volver a.active { background: #01B0A6; }

.footer-float { position: fixed; bottom: 5px; left: 0; right: 0; }


/*----------------------------------------------- Forms */
.form-inset { color: #FFF; border-radius: 4px; overflow: hidden; }
.form-inset .has-tip { color: #FFF; }

.form-white{ background: #e8f7e6; padding: 5px 10px 0 10px; border:1px dashed #844a93; border-radius: 3px; margin-bottom: 5px; }

/*-------------------------------------------------------- Listas */
/*List menu*/
.list-menu { list-style: none; margin: 0 0 5px 0; padding: 0; overflow: auto; position: relative; }
.list-menu li { border-top: 1px solid #DDD; }
.list-menu li:last-child { border-bottom: 1px solid #DDD; }
.list-menu li > a { padding: 2px 0; margin: 2px 0; display: block; color: #444; transition:all .3s; font-size: 1.1rem; }
.list-menu li > a:hover, .list-menu li > a.active , .list-menu li > a:focus { padding-left: 10px; color:#8db037;  background: #ffffff; border-left: 2px solid #8db037; }
.list-menu li .controls { margin-top: 12px; }
.list-menu li span { text-transform: none; font-weight: normal; display: block; font-size: .8rem; color: #afafaf; text-overflow: ellipsis; overflow: hidden; white-space:nowrap; }

/*List items*/
.list-items { list-style: none; margin: 0; padding: 0; border-top: 1px solid #DDD; }
.list-items li { border-bottom: 1px solid #f1f1f1; line-height: 2.8rem; cursor: default; }

.list-block-small { list-style: none; margin: 0; padding: 0; background: #d7ecea; }
.list-block-small li { border-bottom: 1px solid #c9dddb; padding: 4px 0 4px 5px; margin: 0 5px; cursor: default; }
.list-block-small li:last-child { border: none; }

.list-editable { color:#666; list-style: none; margin: 0; padding: 0 5px; background: rgba(255,255,255,.8); }
.list-editable li { padding: 0 5px; line-height: 2.5rem; border-bottom: 1px solid rgba(0,0,0,.08); }
.list-editable li:last-child { border: none; }
.list-editable li ul { margin:0; padding: 0;
    list-style: none; }
.list-editable li ul li { padding: 0; }

.list-small li { line-height: 2em; }

/*----------------------------------------------- Clases */
.datepicker
{
	position: absolute;
	background: #FFF;
	border: 1px solid #CCC;
}

.block-list { margin-bottom: 5px; }
.block-list .title { margin: 0 10px 0 0; background: #CCC; border-radius: 6px 6px 0 0; color:#FFF; font-size:16px; line-height: 2.2em; padding: 0 10px 5px 10px; }
.block-list .sub-title { color:#FFF; line-height: 2.2em; }
.block-list .title .controls a { color: #FFF; display: inline-block; }
.block-list .list { background: #36a095; padding: 10px; margin: -5px 0 0 0; border-radius: 6px; }

.controls { float: right; }
.controls a { text-decoration: none; font-size: 16px; line-height: 1em; }

.block-details
{
	background-image: linear-gradient(0deg, #F1F1F1 0%, #FFFFFF 100%);
	border: 1px solid #CFCFCF;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.14);
	border-radius: 4px;
	display: table;
}

.block-details-item
{
	display: table-cell;
	vertical-align: middle;
	margin-left: 5px;
	padding: 5px;
}
.block-details-item .icon32
{
	color: #a0a0a0;
}


.block-content { border:1px solid #36a095; border-radius: 6px; background: rgba(255,255,255,.8); box-shadow: 2px 2px 10px rgba(0,0,0,0.2); }
.content { padding: 15px; }

.tip { color: #b1b1b1; background: #f8f7d8; border:1px solid #ebe7ae; border-radius: 3px; padding: 10px 10px 1px 10px; }
.tip-title { color: #d6b02e; font-weight: 300; font-size: 18px; margin-bottom: 5px; }

.msg{ text-align: center;  padding: 5px 10px; font-size: 13px; text-shadow: 1px 1px 0 #FFF; border-radius: 4px; }
.msg-info { color: #3875c5; background: #e0ecf4; }
.msg-error { color: #b10800; background: #fee0ea; }
.msg-alert { color: #D29F32; background: #FFF8CE; }

.resumen .block-list .title, .resumen .accordion dd > a { background: #5183c2; }
.administrador .block-list .title, .administrador .accordion dd > a { background: #844a93; }
.reportes .block-list .title, .reportes .accordion dd > a { background: #e7b645; }
.base-datos .block-list .title, .base-datos .accordion dd > a { background: #8db037; }




/* Animaciones */
.fade { opacity: 0; -webkit-transition: opacity .2s; transition: opacity .2s; }
.fade.in { opacity: 1; }

.reveal-modal.fade { -webkit-transition: -webkit-transform .3s ease-out; -moz-transition: -moz-transform .3s ease-out; -o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%); -ms-transform: translate(0, -25%); transform: translate(0, -25%); }
.reveal-modal.in { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }

.reveal-modal-bg.fade { filter: alpha(opacity=0); opacity: 0; }
.reveal-modal-bg.in { filter: alpha(opacity=50); opacity: .5; }

/*chart report*/
.report-piechart {
    width: 250px;
    height: 150px;
}

.report-list-question .list-questions li
{
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px 0;
}

.list-tabs li {
    float: left;
    margin-right: 10px;
    margin-left: 18px;
    margin-top: 8px;
}
.botcolor{
    background: #1AB7A7;
    color: #FFF;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    min-height: 60px;
    margin-right: 2px;
    vertical-align: middle;
}
/*----------------- reports charts -----------------*/
.list-tabs{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.circle-m, .circle-g{
    color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-decoration: none;
    padding: 18px 22px;
    display: table-cell;
	vertical-align: middle;
    margin-left: 10px;
	font-size: 14px;
    text-align: center;
}
.circle-m{
	background-color: #6a5399;
}
.circle-g{
    background-color: #00A194;
}
.numbercircle{
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
}